.example-card {
  max-width: 400px;
  background-color: lightgrey;
}

p {
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

div{
  background-color: antiquewhite;
}


